@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #F9F9F9;
}

.page_width {
  /* width: 1250px; */
 margin:auto;
 padding-left: 120px !important;
 padding-right: 120px !important;
}

body{
  background-color:#F9F9F9;;
}
.section_width {
  width: 100%;
  margin: 50px 0px;
}

.nav_desktop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* margin-left: 120px !important;
  margin-right: 120px !important;  */
  margin: 20px 0px;
}

.nav_desktop nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.nav_desktop nav ul li a {
  text-decoration: none;
  color: #C4C4C4;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Rubik', sans-serif;

}
.nav_desktop nav ul li a:hover{
  color: #058B8C;
  font-weight: 700;
}
.nav_desktop nav ul li:last-child a{
  background-color: #058B8C;
  padding: 10px 20px;
  border-radius: 25px;
  color: #fff;
 
}


#phoneText{
  display: flex;
  gap: 10px;
}
.paddinggive{
  padding-top: 12px;
  position: relative;
}

.inner_bar_open hr{
  color: #fff;
}
.inner_bar_open{
  position: absolute;
  width: 206px;
  height: 263px;
  flex-shrink: 0;
  padding: 20px 15px;
  background-color: #058B8C;
  display: none;
}

.service_bar:hover .inner_bar_open{
  display: block;
  }
  .inner_bar_open ol{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 7px;
  }
  .inner_bar_open ol li:hover{
    background-color: #fff;
    color: #058B8C;
  }
.inner_bar_open ol li{
  
  color: #fff;
}
 
/* footer CSS code */
.quick_service{
  height: 225px;
  width: 100%;
  background-color: #058B8C;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.quick_service h2{
  font-family: 'Rubik', sans-serif;
  color: #fff;
  font-size: 47px;
  font-weight: 700;
}
.quick_service a span{
  font-family: 'Rubik', sans-serif;
}
.quick_service a{
  text-decoration: none;
  color: #fff;
  font-size: 33px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center;
  margin-top: 30px;
}
/* footer_Navigations */

.footer_elements{
  width: 100%;
  /* margin: auto; */
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1.5fr;
  gap: 36px;
  padding: 74px 57px;
}

.footer_about p{
  color: #8F8F8F;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  font-family: 'Rubik', sans-serif;
}

.footer_elements nav ul li a:hover{
  color: #1E1E1E;
  font-size: 20px;
  font-weight: 700;
}

.footer_elements nav ul li a{
  color: #8F8F8F;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-decoration: none;
}
.footer_elements nav ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 25px;
 
}

.footer_info{
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.footer_info a{
  color: #8F8F8F;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
}

.footer_info a:hover{
  color: #1E1E1E;
  font-weight: 700;
   transition: all 0.3s;
}

.footer_form{
  display: flex;
  gap: 25px;
}
.footer_form input:nth-child(1){
  width: 247px;
  height: 48px;
  border-radius: 341px;
  padding-left: 20px;
  color: #8F8F8F;
  font-size: 18px;
font-style: normal;
font-weight: 300;
}
.footer_form input:nth-child(2){
  width: 113px;
  height: 48px;
  border-radius: 48px;
  background: #058B8C;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.20), 3px 4px 10px 0px rgba(0, 0, 0, 0.20) inset;
  color: #fff;
  font-size: 18px;
font-style: normal;
font-weight: 700;
}
