.banner_section{
    background-image: url('../../images/blue_moon.svg');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 374px;
    padding: 25px 0px;
    margin-bottom: 30px;

}

/* .rightImageBanner{
    margin-top: 20px;
} */
.WelcomeBanner{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 90px;
}
.leftBanner h3{
    border-radius: 30px;
    background-color: #058B8C;
    width: 111px;
    height: 29px;
    padding-left: 10px;
    padding-top: 15px;
    color: #FFF;
    font-family: Rubik;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 0px;
}
.leftBanner{
    padding-top: 90px;
}
.leftBanner h1{
color: #1E1E1E;
font-family: Rubik;
font-size: 65px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -3.6px;
margin-top: -11px;
}
.leftBanner h1 span{
    color: #058B8C;;
}
.leftBanner h2{
    margin-top: 25px;
    color: #1E1E1E;
font-family: Rubik;
font-size: 42px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -1.8px;
}
.leftBanner p{
    width: 384px;
    flex-shrink: 0;
    color: #1E1E1E;
    font-family: Rubik;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.contact_learn_more{
    display: flex;
    gap: 25px;
}
.contact_learn_more button{
    width: 136px;
    height: 36px;
    flex-shrink: 0;
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
}
.contact_learn_more button:hover{
    background-color: #8D0F11;
    color: #FFF;
}

 /* .................. */
/* image css */
.bannerImg img{
    width: 100%;
    border-radius: 234px;
    padding-left: 20px;
}
.bannerImg{
    width: 430px;
flex-shrink: 0;
border-radius: 60px;
margin: auto;
float: right;
background-image: url('../../images/grey_image_background.png');
background-position: left center;
background-size: 386px;

background-repeat: no-repeat;
}



/* after Welcome Banner section  */


.icons_after_banner_section{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.after_banner_section{
    display: flex;
    justify-content: space-between;
    margin: 0px 95px;
}

.after_welcome_banner_section{
    margin-bottom: 40px;
}
.icons_after_banner_section div img{
    width: 100%;
}
.icons_after_banner_section div{
    height: 149px;
    width: 116px;
    margin-right: 14px;
}

.icons_after_banner_section h2{
    color: #1E1E1E;
    font-family: Rubik;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; 
}



/* who we are section */


.who_we_are{
    display: flex;
    gap: 50px;
}

.who_we_are_img_container{
    width: 368px;
    height: 418px;
}

.who_we_are_img_container img{
    width: 100%;
}
.right_banner p{
    color: #1E1E1E;
    font-family: Rubik;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    width: 678px;
    height: 133px;
flex-shrink: 0;
}
.right_banner h2{
    color: #1E1E1E;
font-family: Rubik;
font-size: 60px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -1.8px;
}

.right_banner span{
    color: #058B8C;
font-family: Rubik;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -1.8px;
}
.component_container{
    display: flex;
    gap: 27px;
}

.company_authority{
    background-color: #058B8C;
    margin-bottom: 30px;
    padding: 70px 100px 40px 100px;
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 50px;
}
.left_side h2{
    color: #FFF;
  
font-family: Rubik;
font-size: 35px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -1.8px;
}
.left_side h2 span{
    color: #FFF;
font-family: Rubik;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -1.8px;
}


.right_side .img_container{
    width: 300px;
    height: 298px;
    border-radius: 147px  !important;
    overflow: hidden;
}
.img_container img{
    width: 100%;
}
.left_side p{
    margin: 30px 0px 30px 0px;
}




/* Our Client Section */

.our_clients h2, .our_clients p{
text-align: center;
}
.clients_grid_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.our_clients h2{
    font-size: 50px;
}
.our_clients span{
    color: #058B8C;
}

.our_client_section{
    margin-bottom: 50px;
}